@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap");
body {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

#img-landing {
	background-image: url("../img/img-landing.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
}

.title-quien {
	font-size: 3rem;
}

.img-quien {
	margin: 15px 0;
}

.txt-quien {
	font-weight: 300;
}

.txt-morado {
	color: #9654a6;
}

.txt-morado-2 {
	color: #52248d;
}

.txt-azul {
	color: #302469;
}

.mar-15 {
	margin: 5% 0;
}

.txt-title {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 25px;
}

.img--title {
	display: flex;

	flex-direction: row;
	justify-content: flex-start;
}

.txt-compro {
	font-weight: 300;
	padding-left: 10px;
}

#compromisos p {
	font-weight: 300;
	padding-top: 15px;
	color: #172448;
}

#autocuidado {
	background-color: #f3edf6;
}

.txt-auto-1 {
	font-weight: 300;
	color: #52248d;
	font-size: 2rem;
}

.txt-auto-2 {
	color: #9654a6;
}

.mar-auto {
	margin: 7% 0;
}

.title-auto {
	font-size: 3.5rem;
	color: #52248d;
}

.txt-auto-pri {
	font-weight: 300;
}

.txt-auto-fin {
	color: #302469;
	font-weight: 300;
}

.title-recomen {
	margin: 4% 0 2%;
	font-size: 3.5rem;
	font-weight: 500;
	text-align: center;
	color: #52248d;
}

.txt-recomenda {
	padding-top: 25%;
	color: #302469;
	font-weight: 300;
}

#autocuidado-2 {
	background-color: #52248d;
}

.pad-15 {
	padding: 5% 0;
}

.txt-auto2 {
	text-align: center;
	font-size: 1.3rem;
	color: white;
	font-weight: 300;
}

.txt-auto2-1 {
	font-weight: 300;
	color: white;
	padding-top: 25%;
}

.title-auto-2 {
	margin: 3% 0;
	font-size: 3.5rem;

	color: #9654a6;
}

.txt-auto2-2 {
	color: #172448;
	font-weight: 300;
	font-size: 1.1rem;
	text-align: justify;
}

.txt-auto2-3 {
	color: #52248d;
	font-weight: 300;
}

#auto-3 {
	position: relative;
}

.circulo {
	background: white;

	border-radius: 50%;
	height: 550px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 550px;

	z-index: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

#autocuidado-3 {
	background-color: #f3edf6;
}

.mar-to {
	padding: 7% 20% 5%;
}

.txt-auto {
	text-align: center;
	font-weight: 300;
	font-size: 1.5rem;
	color: #52248d;
}

.txt-autocui {
	font-weight: 300;
}

.img-otros {
	padding-bottom: 30px;
}

.txt-au-no {
	font-weight: 300;
	color: #172448;
}

.txt-vi-otro {
	font-weight: 300;
	color: #302469;
}

.txt-bol {
	color: #52248d;
	font-weight: 600;
}

.title-auto2 {
	font-size: 2.5rem;
	font-weight: 300;
	color: #9654a6;
	text-align: center;
}

.title-auto3 {
	font-size: 2.5rem;
	font-weight: 300;
	color: #9654a6;
}

.title-preca {
	font-size: 3.5rem;
	color: #52248d;
}
.title-preca span {
	color: #9654a6;
}

.top-25 {
	margin-top: 10%;
}

.txt-preca {
	font-size: 0.8rem;
	font-weight: 300;
	color: #172448;
}

.img-down {
	display: flex;
	align-self: flex-end;
}

.top-5 {
	margin: 3% 0;
}

.txt-preca2 {
	text-align: center;
	color: #52248d;
	font-weight: 300;
}

.txt-preca3 {
	padding-right: 20px;
	font-size: 1.3rem;

	color: #52248d;
	font-weight: 300;
}

.vine_preca {
	/* margin-bottom: 0; */
	font-weight: 300;
	font-size: 0.9rem;
	color: #312469;
}

.vine_preca2 {
	font-weight: 300;
	font-size: 0.9rem;
	color: #172448;
}

.title-preca2 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 300;
	color: #9654a6;
}

.title-preca3 {
	text-align: center;
	font-size: 1.3rem;
	font-weight: 300;
	color: #302469;
}

#etiquetado {
	background-color: #52248d;
}

.title-etique {
	font-size: 3.7rem;
	color: #54bfd9;
}

.txt-etique {
	font-size: 0.9rem;
	font-weight: 300;
	color: white;
}

footer {
	background-color: #152348;
}

.txt-foot {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	color: white;
	font-size: 0.8rem;
}

.txt-foot-blue {
	color: #97dbe0;
}

.txt-centrado {
	display: flex;
	align-self: center;
}
